name: release-tag

on:
  repository_dispatch:
    types: [ metanorma/metanorma-cli ]
  workflow_dispatch:
    inputs:
      next_version:
        description: |
          Next version. Should correspond to the released metanorma-cli gem
        required: true

jobs:
  push-tag:
    runs-on: ubuntu-latest
    if: startsWith(github.event.client_payload.ref, 'refs/tags/v')
    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.METANORMA_CI_PAT_TOKEN }}

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.1'

    - run: |
        git config --global user.name "metanorma-ci"
        git config --global user.email "metanorma-ci@users.noreply.github.com"

    - if: github.event_name == 'repository_dispatch'
      name: Parse metanorma-cli version (repository_dispatch)
      env:
        METANORMA_CLI_TAG: ${{ github.event.client_payload.ref }}
      run: |
        echo METANORMA_CLI_VERSION=${METANORMA_CLI_TAG#*/v} >> ${GITHUB_ENV}

    - if: github.event_name == 'workflow_dispatch'
      name: Parse metanorma-cli version (workflow_dispatch)
      run: |
        echo METANORMA_CLI_VERSION=${{ inputs.next_version }} >> ${GITHUB_ENV}

    - name: Update version
      run: |
        echo "IMAGE_VERSION := ${METANORMA_CLI_VERSION}" > VERSION.mak
        pushd metanorma-ruby
        bundle remove metanorma-cli
        bundle add metanorma-cli -v ${METANORMA_CLI_VERSION}
        popd

    - name: Push commit and tag
      run: |
        git add VERSION.mak metanorma/Gemfile
        git commit -m "Bump version to ${METANORMA_CLI_VERSION}"
        git tag v${METANORMA_CLI_VERSION}
        git push origin HEAD:${GITHUB_REF} --tags
